header {
    display: flex;
    align-items: center;
}

.header-image-container {
    width: 35%;
}

.header-information-container {
    width: 65%;
    text-align: left;
}

.header-information-container h1 {
    max-width: none;
    font-size: 5.2rem;
}

.header-information-container p {
    font-size: 2.6rem;
}

nav {
    visibility: hidden;
}

aside {
    visibility: visible;
    position: fixed;
    right: 0;
    width: 10%;
    height: 100%;
    text-align: center;
}

aside ul {
    height: 100%;
    list-style: none;
    padding: 0;
}

aside ul li {
    padding: 20px 0;
}

aside ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--navButtonText);
}

main {
    width: 90%;
}

.main-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title {
    width: 40%;
}

.main-section-container:nth-child(1) .section-title {
    order: 1;
}

.main-section-container:nth-child(2) .section-title {
    order: 2;
}

.main-section-container:nth-child(3) .section-title {
    order: 1;
}

.main-section-container:nth-child(4) .section-title {
    order: 2;
}

.main-section-container:nth-child(5) .section-title {
    order: 1;
}

.card-container {
    width: 60%;
}

.main-section-container:nth-child(1) .card-container {
    order: 2;
}

.main-section-container:nth-child(2) .card-container {
    order: 1;
}

.main-section-container:nth-child(3) .card-container {
    order: 2;
}

.main-section-container:nth-child(4) .card-container {
    order: 1;
}

.main-section-container:nth-child(5) .card-container {
    order: 2;
}