header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    position: absolute;
    visibility: hidden;
}

.header-image-container {
    width: 350px;
    height: 350px;
    width: 40%;
    text-align: center;
}

.header-image-container img {
    width: 350px;
    height: 350px;
}

.header-information-container {
    width: 60%;
    max-width: none;
    text-align: left;
}

.header-information-container h1 {
    font-size: 5rem;
}

.header-information-container p {
    visibility: visible;
    font-size: 4rem;
}

.main-section-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    place-items: center;
}

.card-container {
    max-width: none;
    align-items: center;
}

.section-title {
    font-size: 4rem;
    max-width: 380px;
}

.information-card {
    height: 90%;
    min-width: 400px;
    max-width: 500px;
    font-size: 2.6rem;
    line-height: 4rem;
    margin: 0 30px;
}

.card-logo {
    text-align: center;
}

.card-logo img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.card-logo-platzi {
    text-align: center;
}

.card-logo-platzi img{
    width: 100px;
    height: 200px;
    object-fit: contain;
}

.card-title {
    font-size: 3rem;
}

.date {
    font-size: 1.8rem;
}

.information-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.information-card li {
    line-height: 2rem;
    padding: 5px 0;
}