:root {
    --navButtonText: #000;
    --imageBorder: #000;
    --title: #ffffff;
    --next-button: #000;
    --section1: #ffffff;
    --section2: #2d99c8;
    --sectionBorder: #2d99c8;
    --card: #29779a;
    --cardBorder: #2d99c8;
    --cardTitle: #ffffff;
    --cardText: #ffffff;
    --contactBorder: #29779a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/cover2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    margin: 0 0 40px 0;
    padding-top: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

nav a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--navButtonText);
}

.header-image-container {
    width: 250px;
    height: 250px;
    margin: 60px auto;
}

.header-image-container img {
    width: 250px;
    height: 250px;
    border: 2px solid var(--imageBorder);
    border-radius: 50%;
}

.header-information-container {
    width: 90%;
    min-width: 300px;
    max-width: 350px;
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
}

.header-information-container p {
    visibility: hidden;
}

.down-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 0 auto;
    text-align: center;
    color: var(--next-button);
}

.up-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin: 0 auto;
    text-align: center;
    color: var(--next-button);
}

aside {
    position: absolute;
    visibility: hidden;
}

main {
    width: 100%;
    height: auto;
}

.main-section-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(180deg, var(--section1) 0%, var(--section2) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 40px;
}

.card-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    scroll-behavior: contain;
    scrollbar-width: thin;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.information-card {
    scroll-snap-align: center;
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    margin: 0 16px;
    padding: 30px;
    background-color: var(--cardText);
    font-size: 1.6rem;
    border-radius: 12px;
    border: 2px solid var(--cardBorder);
    line-height: 2.4rem;
}

.card-logo {
    text-align: center;
}

.card-logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.card-logo-platzi {
    text-align: center;
}

.card-logo-platzi img{
    width: 50px;
    height: 100px;
    object-fit: contain;
}

.card-title {
    font-size: 2.4rem;
}

.date {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.information-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.information-card li {
    line-height: 2.4rem;
    padding: 5px 0;
}

#contacto {
    display: flex;
    justify-content: space-evenly;
}

.whatsapp-button {
    padding: 20px;
    border: 2px solid var(--contactBorder);
    border-radius: 20px;
    color: #000000;
}

.linkedin-button {
    padding: 20px;
    border: 2px solid var(--contactBorder);
    border-radius: 20px;
    color: #000000;
}

.linkedin-logo {
    width: 24px;
    height: 24px;
    background-image: url("https://cdn.icon-icons.com/icons2/602/PNG/512/LinkedIn_icon-icons.com_55877.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.email-button {
    padding: 20px;
    border: 2px solid var(--contactBorder);
    border-radius: 20px;
    color: #000000;
}