:root {
    --imageBorder: #fff;
    --title: #fff;
    --navButton: #fff;
    --section: #f7e3d4;
    --card: #3765d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    width: 100%;
    position: relative;
}

.header-cover-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 90%;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-image-container {
    width: 100%;
    z-index: 0;
}

.image-div {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.image-div img {
    width: 200px;
    height: 200px;
    border: 2px solid var(--imageBorder);
    border-radius: 50%;
}

.header-information-container {
    width: 100%;
    text-align: center;
    z-index: 0;
}

.header-information-container h1 {
    font-size: 3.8rem;
    color: var(--title);
}

.header-information-container p {
    font-size: 1.8rem;
    color: var(--title);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 5px;
}

nav ul a {
    text-decoration: none;
    color: var(--navButton)
}

aside {
    width: 15%;
    float: right;
    visibility: hidden;
}

aside ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

aside ul li a {
    text-decoration: none;
}

main {
    width: 100%;
    min-width: 320px;
}

.main-section-container {
    width: 100%;
    background-color: var(--section);
    border-bottom: 2px solid #000000;
}

.section-title {
    font-size: 3rem;
    margin: 0 auto;
}

.card-container {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

.information-card {
    background-color: var(--card);
    margin-bottom: 10px;
}

.information-card .card-logo img{
    max-width: 100px;
    max-height: 70px;
}

.information-card h3 {
    font-size: 1.4rem;
}

.information-card .date {
    font-size: 1rem;
}

.information-card p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.information-card ul {
    list-style: none;
    padding: 0;
}

.information-card ul li {
    font-size: 1.4rem;
    line-height: 2rem;
}